.outer
{
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 75%;
  height: 75%;
  display: flex;
  background: transparent url(../img/faith.png) no-repeat 0 -160px;
  background-size: cover;
  color: #333;
}
.inner
{
  padding: 50px;
}
hr
{
  max-width: 100%;
}