/* File names are as exported from my Cure database (Collectorz) to firebase */
.sprites { background: url(../img/sprites.png) no-repeat;}
.sprites.CureTheHeadontheDoorD14161_f { width: 150px; height: 150px; background-position: 0 0; }
.sprites.TheCure413Dream200814974Q2CU_f { width: 150px; height: 150px; background-position: 0 -151px; }
.sprites.TheCureBestivalLive201121829MC38_f { width: 150px; height: 150px; background-position: 0 -302px; }
.sprites.TheCureBestivalLive2011150707JWJ_f { width: 150px; height: 150px; background-position: 0 -453px; }
.sprites.TheCureBloodflowers20007601T0YD_f { width: 150px; height: 150px; background-position: 0 -604px; }
.sprites.TheCureBloodflowers20007709KCYS_f { width: 150px; height: 150px; background-position: 0 -755px; }
.sprites.TheCureBoysDontCry1984842WI43_f { width: 150px; height: 150px; background-position: 0 -906px; }
.sprites.TheCureConcert19844898_f { width: 150px; height: 150px; background-position: 0 -1057px; }
.sprites.TheCureDisintegration1984972N2HY_f { width: 150px; height: 150px; background-position: 0 -1208px; }
.sprites.TheCureDisintegration20123413EF7Y_f { width: 150px; height: 150px; background-position: 0 -1359px; }
.sprites.TheCureEntreat19904986VQEN_f { width: 150px; height: 150px; background-position: 0 -1510px; }
.sprites.TheCureEntreat19907613JYGE_f { width: 150px; height: 150px; background-position: 0 -1661px; }
.sprites.TheCureFaith19814868WEYV_f { width: 150px; height: 150px; background-position: 0 -1812px; }
.sprites.TheCureFaith200523282KFZF_f { width: 150px; height: 150px; background-position: 0 -1963px; }
.sprites.TheCureFiveSwingLive1976238RLO_f { width: 150px; height: 150px; background-position: 0 -2114px; }
.sprites.TheCureGalore19977689UNKK_f { width: 150px; height: 150px; background-position: 0 -2265px; }
.sprites.TheCureGreatestHits20017720_f { width: 150px; height: 150px; background-position: 0 -2416px; }
.sprites.TheCureInConcert19807986_f { width: 150px; height: 150px; background-position: 0 -2567px; }
.sprites.TheCureInConcert19801922905355I_f { width: 150px; height: 150px; background-position: 0 -2718px; }
.sprites.TheCureJapaneseWhispers22813GNQJ_f { width: 150px; height: 150px; background-position: 0 -2869px; }
.sprites.TheCureJoinTheDotsBSi23528YN11_f { width: 150px; height: 150px; background-position: 0 -3020px; }
.sprites.TheCureKissMeKissMeK4953_f { width: 150px; height: 150px; background-position: 0 -3171px; }
.sprites.TheCureKissMeKissMeKis14162_f { width: 150px; height: 150px; background-position: 0 -3322px; }
.sprites.TheCureParis19937659NC3C_f { width: 150px; height: 150px; background-position: 0 -3473px; }
.sprites.TheCurePornography19824878KY36_f { width: 150px; height: 150px; background-position: 0 -3624px; }
.sprites.TheCurePornography2005233801TV6_f { width: 150px; height: 150px; background-position: 0 -3775px; }
.sprites.TheCureSeventeenSeconds4856R89V_f { width: 150px; height: 150px; background-position: 0 -3926px; }
.sprites.TheCureSeventeenSeconds233120TUY_f { width: 150px; height: 150px; background-position: 0 -4077px; }
.sprites.TheCureShow199323694_f { width: 150px; height: 150px; background-position: 0 -4228px; }
.sprites.TheCureShow199376307KB0_f { width: 150px; height: 150px; background-position: 0 -4379px; }
.sprites.TheCureSideshow19937652JJFJ_f { width: 150px; height: 150px; background-position: 0 -4530px; }
.sprites.TheCureStaringAtTheSea49345Z7S_f { width: 150px; height: 150px; background-position: 0 -4681px; }
.sprites.TheCureThe1985EuropeanT8004_f { width: 150px; height: 150px; background-position: 0 -4832px; }
.sprites.TheCureTheCure200413500KOYU_f { width: 150px; height: 150px; background-position: 0 -4983px; }
.sprites.TheCureTheCureMixedUp4996NRCN_f { width: 150px; height: 150px; background-position: 0 -5134px; }
.sprites.TheCureTheHeadOnTheDoo4922KKPN_f { width: 150px; height: 150px; background-position: 0 -5285px; }
.sprites.TheCureTheTop19844910F1SX_f { width: 150px; height: 150px; background-position: 0 -5436px; }
.sprites.TheCureTheTopDeluxeEdi14061_f { width: 150px; height: 150px; background-position: 0 -5587px; }
.sprites.TheCureThreeImaginaryBoy4827_f { width: 150px; height: 150px; background-position: 0 -5738px; }
.sprites.TheCureThreeImaginaryBoy23342U5W9_f { width: 150px; height: 150px; background-position: 0 -5889px; }
.sprites.TheCureWildMoodSwings17673_f { width: 150px; height: 150px; background-position: 0 -6040px; }
.sprites.TheCureWish19925009_f { width: 150px; height: 150px; background-position: 0 -6191px; }